@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-bg-hero {
  background-image: url('/images/bg-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-bg-ring {
  background-image: url('/images/ring.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 30%

}

body{
  min-width: 375px;
}

.container {
  @apply max-w-6xl mx-auto px-4
}
